<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>Project 1 - CI/CD</title>
    {% endblock %}

</head>

<body>
<div class="container-fluid">
    <div class="topnav-centered">
        <div class="row">
            <nav class="navbar navbar-expand-md
                    justify-content-start
                    bg-dark navbar-dark
                    col-12">

                <!-- Brand -->
                <a class="navbar-brand" href="{{ url_for('simple_pages.show', page="index")}}"> <h2>Project 1</h2></a>

                <!-- Responsive Button for the smaller menu -->
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">

                        <!-- Links -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page="index")}}">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                               data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Technology
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page1")}}">Git</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page2")}}">Docker</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page3")}}">Python/Flask</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page4")}}">CI/CD</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                               data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Project-2
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page5")}}">Glossary</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page6")}}">AAA testing</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page7")}}">OOPs</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page8")}}">SOLID</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

<h1><center><strong>CI/CD</strong></center></h1>
<p>CI/CD is the combined practices of continuous integration and either continuous delivery or continuous deployment. CI/CD bridges the gaps between development and operation activities and
            teams by enforcing automation in building, testing and deployment of applications. CI or "Continuous Integration is a software development practice where members of a team integrate their
            work frequently, usually each person integrates at least daily - leading to multiple integrations per day. Each integration is verified by an automated build (including test) to detect integration
            errors as quickly as possible" (Fowler, 2006).</p>
            <br>
            <p>CD or "Continuous Delivery is a software development discipline where you build software in such a way that the software can be released to production at any time... You achieve continuous delivery
                by continuously integrating the software done by the development team, building executables, and running automated tests on those executables to detect problems. Furthermore, you push the executables
                into increasingly production-like environments to ensure the software will work in production" (Fowler, 2006)</p>

            <br>

<h4>How the Project was set up to use Github and Github actions</h4>
<p>The Project was set up to use Github in two different ways. Firstly, on Pycharm it was set up that whenever you commit the project, it updates the changed files on Github. This not only keeps a source online, but
makes sure you can go to a previous commit if need be. Secondly, another thing that was used is the Github Actions. This is where secrets were added for the docker username (DOCKER_USERNAME),
    docker password (DOCKER_PASSWORD), and the heroku api key from the app (HEORUKU_API_KEY). This allowed Github to connect to the docker container and Heroku app and update it or deploy it over there.</p>

            <br>

<h4>How to deploy master to a production server</h4>
            <p>To deploy a master to a production server you need to create a production file. In this project there is the prod.yml and prod_awake.yml that when you send a pull request to the master, it is able to deploy the
            same last changes you made to the developmental stage to the prod app and deploy it.</p>

            <br>

<h4>How to deploy an image of your project to Dockerhub when master is updated</h4>
            <p>To deploy an image of the project to the docker hub when the master is updated, it creates a container on Dockerhub automatically because of the Docker file in the project. This is also from the secret key that
            was entered at the start that allows this access.</p>
<!-- Optional JavaScript; choose one of the two! -->


                <footer>
        Environment: {{ deployment_environment }} - Copyright: {{ year }}
        Message: {{ mymessage }} {{ format_price(100) }}
    </footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</div>
    </div>
</div>
</body>

</html>
