<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>Project 1 - CI/CD</title>
    {% endblock %}

</head>

<body>
<div class="container-fluid">
    <div class="topnav-centered">
        <div class="row">
            <nav class="navbar navbar-expand-md
                    justify-content-start
                    bg-dark navbar-dark
                    col-12">

                <!-- Brand -->
                <a class="navbar-brand" href="{{ url_for('simple_pages.show', page="index")}}"> <h2>Project 1</h2></a>

                <!-- Responsive Button for the smaller menu -->
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">

                        <!-- Links -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page="index")}}">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                               data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Technology
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page1")}}">Git</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page2")}}">Docker</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page3")}}">Python/Flask</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page4")}}">CI/CD</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page="about")}}">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>

<h1><center><strong>CI/CD</strong></center></h1>
<p><center>CI/CD is the combined practices of continuous integration and either continuous delivery or continuous deployment. CI/CD bridges the gaps between development and operation activities and
            teams by enforcing automation in building, testing and deployment of applications.</center></p>

<h4>Containers</h4>
<p>A container is a standard unit of software that packages up code and all its dependencies so the application runs quickly and reliably from one computing environment to another.
    A Docker container image is a lightweight, standalone, executable package of software that includes everything needed to run an application. It is made possible by process isolation
    and virtualization that is built into the Linux Kernel. </p>

<h4>Images</h4>
<p>A Docker image is a file used to execute code in a Docker container. Docker images act as a set of instructions to build a Docker container, like a template which contains a set of instructions.</p>

            <br>

<h5>Link to the docker hub
<a href="https://hub.docker.com/repository/docker/skp75/is218_p1">Repository</a>.
</h5>
            <br>

<h3>Docker Commands</h3>
<ul>
    <li>docker run: This command is used to create a container from an image</li>
    <li>docker ps: This command is used to list the running containers with their information ex. container id</li>
    <li>docker ps -a: This command is used to show all the running and exited containers</li>
    <li>docker stop: This command stops a running container. Information can be found from docker ps</li>
    <li>docker kill: This command kills the container and stops the process immediately. This forcefully kills is and overwrites any error</li>
    <li>docker commit: This command creates a new image of an edited container on the local system</li>
    <li>docker push: This command is used to push an image to the docker hub repository</li>
    <li>docker pull: This command is used to pull images from the docker repository</li>
    <li>docker rm: This command is used to delete a stopped container</li>
    <li>docker build: This command is used to build an image from a specified docker file</li>
</ul>

<h4>How to start the project and how to access the container with the terminal using just terminal commands and not PyCharm </h4>
            <p>To start a project and access it just with the terminal, you need to open up a new terminal. This can be git bash or powershell. Firstly, open up a new project and on the terminal you need to use
            the build command to build a container image that you can see in the docker hub. This shows if the container is active and the port that is assigned to it. You can also view the container in the terminal
            using docker ps which shows all the 'online' containers and their value ids.</p>
            <br>
            <p>You can also run the container as any time to make it active by using the docker run -dp command followed by the container name. This will create a mapping of the host port too. All this can once again
            be seen on the docker hub menu too.</p>



<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</div>
    </div>
</div>
</body>

</html>
