<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>Project 2 - SOLID</title>
    {% endblock %}

</head>

<body>
<div class="container-fluid">
    <div class="topnav-centered">
        <div class="row">
            <nav class="navbar navbar-expand-md
                    justify-content-start
                    bg-dark navbar-dark
                    col-12">

                <!-- Brand -->
                <a class="navbar-brand" href="index.html"> <h2>Project 2</h2></a>

                <!-- Responsive Button for the smaller menu -->
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">

                        <!-- Links -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page="index")}}">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                               data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Technology
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page1")}}">Git</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page2")}}">Docker</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page3")}}">Python/Flask</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page4")}}">CI/CD</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                               data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Project-2
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page5")}}">Glossary</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page6")}}">AAA testing</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page7")}}">OOPs</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page8")}}">SOLID</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

<h1><center><strong>SOLID (Five Principles Of OOP)</strong></center></h1>
<p><center>The SOLID Principles are five principles of Object-Oriented class design. They are a set of rules and best practices to follow while designing a class structure.
        These five principles help us understand the need for certain design patterns and software architecture in general. </center></p>
<br>

<p>
    <br>
    S (Single-responsibility Principle): A class should have one and only one reason to change, meaning that a class should have only one job.
    <br>
    O (Open-closed Principle): Objects or entities should be open for extension but closed for modification. This means that a class should be extendable without modifying the class itself.
    <br>
    L (Liskov Substitution Principle): This means that every subclass or derived class should be substitutable for their base or parent class.
    <br>
    I (Interface Segregation Principle): A client should never be forced to implement an interface that it doesn’t use, or clients shouldn’t be forced to depend on methods they do not use.
    <br>
    D (Dependency Inversion Principle): Entities must depend on abstractions, not on concretions. It states that the high-level module must not depend on the low-level module, but they should depend on abstractions.
    <br>
</p>


<h3><center>How does the calculator project demonstrate SOLID and identifies the use of design patterns such as the factory pattern</center></h3>
<br>
<br>

<h5><center>S - (Single-responsibility Principle)</center></h5>
            <p>The calculator project demonstrates the Single responsibility very easily as the object to add, subtract, and get results have one purpose or job as to what it says.</p>

            <br>
            <br>

<h5><center>O - (Open-closed Principle)</center></h5>
            <p>The calculator project demonstrates the Open closed principle where the class is extendable without modifying the class itself where the object add and subtract were extended to __init__
                which allows the main code to not be broken as it is only called. The extending code is: "from calculator import Calculator".</p>

            <br>
            <br>

<h5><center>L - (Liskov Substitution Principle)</center></h5>
            <p>This is shown in the calculator project </p>




    <footer>
        Environment: {{ deployment_environment }} - Copyright: {{ year }}
        Message: {{ mymessage }} {{ format_price(100) }}
    </footer>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</div>
    </div>
</div>
</body>

</html>
