<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>Project 1 - Git</title>
    {% endblock %}

</head>

<body>
<div class="container-fluid">
    <div class="topnav-centered">
        <div class="row">
            <nav class="navbar navbar-expand-md
                    justify-content-start
                    bg-dark navbar-dark
                    col-12">

                <!-- Brand -->
                <a class="navbar-brand" href="index.html"> <h2>Project 2</h2></a>

                <!-- Responsive Button for the smaller menu -->
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">

                        <!-- Links -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page="index")}}">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                               data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Technology
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page1")}}">Git</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page2")}}">Docker</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page3")}}">Python/Flask</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page4")}}">CI/CD</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                               data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Project-2
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page5")}}">Glossary</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page6")}}">AAA testing</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page7")}}">OOPs</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page8")}}">SOLID</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

<h1><center><strong>Glossary of OOP terms</strong></center></h1>
<p><center>OOP or Object Oritented Programming is a model that uses objects and classes in programming. It is considered the standard way to code for programmers as the structure uses classes (the blueprint)
        to create different instances of objects. Classes show the overall broader category, and they have individual smaller objects. For example, a food class can have different types of cuisines as the properties
        and then an instance of the food to represent different types of specific foods in the category.</center></p>

<h4>Instantiation</h4>
<p>Instantiation is the realization of a predefined object. In OOP (object-oriented programming), a class of object may be defined. An instance of that object may then be declared, giving it a unique, named identity
    so that it may be used in the program. This process is called "instantiation". It basically creates an object/instance for a class which inherits all class variables and methods. In the calculator example, it would
    be the calculator = Calculator() that instantiates the calculator with all of its properties from the Calculator. Another example is the Addition.create(value) – instantiates and add it to the create, they all
    call add calculations method to add all the calculations.</p>

<h4>Object</h4>
<p>An object in OOPS is nothing but a self-contained component which consists of methods and properties to make a particular type of data useful. For example color name, table, bag, barking. When you send a message to
    an object, you are asking the object to invoke or execute one of its methods as defined in the class. Individual objects represent specific examples of the abstract class like the food example, type of cuisine, then
specific types of food from that category is known as objects. An example from the calculator project would be, Def add(tuple_list) where the function is to create an addition object, result to get the result of the addition object.</p>

<h4>Class</h4>
<p>A class is a blueprint for how something should be defined. It doesn’t actually contain any data. Classes are used to create user-defined data structures. Classes define functions called methods, which identify the behaviors and
    actions that an object created from the class can perform with its data. In the calculator project, it has a calculator class that has methods to add, subtract, and get result. This is the action that an object can do.</p>

<h4>Namespace</h4>
<p>A namespace is a collection of names and the details of the objects referenced by the names. We can consider a namespace as a python dictionary which maps object names to objects. The keys of the dictionary correspond to the names
    and the values correspond to the objects in python. This makes it easy to identify them as there can be a lot of objects. The types of namespaces are built-in namespaces, global namespaces, local namespaces, and enclosing namespaces. </p>

<h4>Constructor</h4>
<p>The constructor is a method that is called when an object is created. This method is defined in the class and can be used to initialize basic variables. Every class has a constructor, but its not required to explicitly define it.
For the calculator project, the constructor is created with the function test_calculator_get_result_method with no parameters. They also have intialized calc1.result = 5. </p>

<h4>Fixture</h4>
<p>Fixtures define the steps and data that constitute the arrange phase of a test (see Anatomy of a test). In pytest, they are functions you define that serve this purpose. They can also be used to define a test's act phase; this is a
    powerful technique for designing more complex tests.</p>

<h4>Type hint</h4>
<p>The main purpose of type hinting in Python is to give developers a way to make their code as self-describing as possible, both for their own benefit and that of other developers. It allows them to specify the data types for variables
and function return values.</p>

<h4>Type cast</h4>
<p>Typecast is a way of changing an object from one data type to the next. It is used in computer programming to ensure a function handles the variables correctly. A typecast example is the transformation of an integer into a string. The
two types are implicit and explicit. Implicit converts data type into another one automatically and the user is not involved, on the other hand explicit needs user involvement to convert it to int(), float(), str(). You basically cast it
when you specify the variable. Ex. float(x), print(type(x)).</p>

<h4>Unit test</h4>
<p>Unit testing is a software testing method by which individual units of source code are put under various tests to determine whether they are fit for use. It determines and ascertains the quality of the code.  Each test case consists
    of a fixed sequence of method invocations with fixed arguments that explores a particular aspect of the behavior of the class under test. Refer to more unit testing information for your code in the: <a href="{{ url_for('simple_pages.show', page="page6")}}">AAA testing</a></p>

<h4>Static</h4>
<p>A static method is a method that belongs to a class, but it does not belong to an instance of that class and this method can be called without the instance or object of that class. Non-static methods can access any static method
    and static variable, without creating an instance of the object. An example in the calculator project is: Def add(tuple_list) – static method, History =[] is an array and is static. </p>

<h4>Instance method</h4>
<p>Instance method are methods which require an object of its class to be created before it can be called. To invoke a instance method, we have to create an Object of the class in which the method is defined. In the calculator project,
we have many instance methods such as the add, subtract, and get result. </p>

<h4>Instance property</h4>
<p>An instance property is a Python variable belonging to only one object. It is only accessible in the scope of the object and it is defined inside the constructor function of a class.</p>

<h4>Static method</h4>
<p>Static methods, much like class methods, are methods that are bound to a class rather than its object. They do not require a class instance creation. So, they are not dependent on the state of the object.</p>

<h4>Static property</h4>
<p>A static property acts somewhat like a globally accessible function or variable. Simply import the class, and you can read the same value from anywhere else in the program. It remains consistent throughout the class and can be
    easily called. </p>

<h4>Encapsulation</h4>
<p>Encapsulation describes the concept of bundling data and methods within a single unit. So, for example, when you create a class, it means you are implementing encapsulation. A class is an example of
    encapsulation as it binds all the data members (instance variables) and methods into a single unit. For example, in the calculator project, calculation = addition.create(tuple) is showcasing encapsulation
    because it holds its data and method in one object in one place. It combines its functionality. An example from the calculator project would be: calculation = addition.create(tuple) because it holds its data
    and method in one object in one place.  </p>

<h4>Inheritance</h4>
<p>Inheritance refers to defining a new class with little or no modification to an existing class. The new class is called derived (or child) class and the one from which it inherits is called the base (or parent) class. It is like
a tree where it branches from the top and everything can be accessed from the top (parent class). In the calculator project, class addition(calculation) is inheritance. In order to obey the single  principle, there is one method
    that creates any type of calculation type class. </p>

<h4>Polymorphism</h4>
<p>Polymorphism is the ability of any data to be processed in more than one form. The most common use of polymorphism in object-oriented programming occurs when a parent class reference is used to refer to a child class object.
    Here we will see how to represent any function in many types and many forms. Also, polymorphism lets us define methods in the child class that have the same name as the methods in the parent class.</p>

<h4>Abstraction</h4>
<p>Abstraction is a process of hiding the real implementation of the method by only showing a method signature. An example from the calculator projetc would be: calculation = addition.create(tuple)- Abstraction
    because the add method calls another method that does another thing that is more complicated. This is both part of abstract and encapsulation. </p>

<h4>Overview of SOLID</h4>
<p>
    These principles establish practices that lend to developing software with considerations for maintaining and extending as the project grows. Adopting these practices can also contribute to avoiding code smells, refactoring code,
    and Agile or Adaptive software development.
    <br>
    <br>
    S (Single-responsibility Principle): A class should have one and only one reason to change, meaning that a class should have only one job.
    <br>
    O (Open-closed Principle): Objects or entities should be open for extension but closed for modification. This means that a class should be extendable without modifying the class itself.
    <br>
    L (Liskov Substitution Principle): This means that every subclass or derived class should be substitutable for their base or parent class.
    <br>
    I (Interface Segregation Principle): A client should never be forced to implement an interface that it doesn’t use, or clients shouldn’t be forced to depend on methods they do not use.
    <br>
    D (Dependency Inversion Principle): Entities must depend on abstractions, not on concretions. It states that the high-level module must not depend on the low-level module, but they should depend on abstractions.
</p>

<h4>Overview of Design Patterns</h4>
<p>Design patterns are typical solutions to commonly occurring problems in software design. They are like pre-made blueprints that you can customize to solve a recurring design problem in your code.
You can’t just find a pattern and copy it into your program, the way you can with off-the-shelf functions or libraries. The pattern is not a specific piece of code, but a general concept for solving a particular
    problem. You can follow the pattern details and implement a solution that suits the realities of your own program.

The idea was picked up by four authors: Erich Gamma, John Vlissides, Ralph Johnson, and Richard Helm. In 1994, they published Design Patterns: Elements of Reusable Object-Oriented Software, in which they applied the
    concept of design patterns to programming.</p>

    <footer>
        Environment: {{ deployment_environment }} - Copyright: {{ year }}
        Message: {{ mymessage }} {{ format_price(100) }}
    </footer>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</div>
    </div>
</div>
</body>

</html>
