<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>Project 1 - Git</title>
    {% endblock %}

</head>

<body>
<div class="container-fluid">
    <div class="topnav-centered">
        <div class="row">
            <nav class="navbar navbar-expand-md
                    justify-content-start
                    bg-dark navbar-dark
                    col-12">

                <!-- Brand -->
                <a class="navbar-brand" href="index.html"> <h2>Project 1</h2></a>

                <!-- Responsive Button for the smaller menu -->
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">

                        <!-- Links -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page="index")}}">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                               data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Technology
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page1")}}">Git</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page2")}}">Docker</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page3")}}">Python/Flask</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page4")}}">CI/CD</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                               data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Project-2
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page5")}}">Glossary</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page6")}}">AAA testing</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page7")}}">OOPs</a>
                                <a class="dropdown-item" href="{{ url_for('simple_pages.show', page="page8")}}">SOLID</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

<h1><center><strong>SOLID (Five Principles Of OOP)</strong></center></h1>
<p><center>Git is software tracking changes in any set of files, usually for coordinating work among
programmers developing source code during software development. It is a DevOps tool for source code
management. It is free and open-source that enables multiple developers working together</center></p>

<h3>Branches</h3>
<p>A branch is a version of the repository that diverges from the main working project which is the master branch It allows work to continue without changing the master branch. A Git project
    can have more than one branch. These branches are a pointer to a snapshot of your changes. When you want to add a new feature or fix a bug, you spawn a new branch to summarize your changes.</p>

<h3>Merge</h3>
<p>Merging is a process to connect the forked history. It is able to bring the contents of another branch to another repo. It joins two or more development history together. Merge all commits
    on the specified branch not already present on the current branch. It is used to maintain distinct lines of development; at some stage, you want to merge the changes in one branch.</p>

<h3>Commit</h3>
<p>Commits records the changes you make in a repository. It has data and a commit message at each state that tells you the new update you made. It then fetches updates from the stage environment.
You can revert back to an old commit incase you have made a mistake or need to see an older version.</p>

<h3>Tags</h3>
<p>Tags make a point as a specific point in Git history. They can be used to mark a commit stage if it is relevant and you need to come back to it. Or the version of something. They also do not change
once initiated and can be used for teh Master or developing stage.</p>

<h3>Repositories</h3>
<p>A repository stores all your files for a project. It also includes the history and commits you have made thus far. They can be public or private on git depending on your prefernce</p>

    <footer>
        Environment: {{ deployment_environment }} - Copyright: {{ year }}
        Message: {{ mymessage }} {{ format_price(100) }}
    </footer>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</div>
    </div>
</div>
</body>

</html>
